.dropdown-content{
    min-width: 300px !important;
    
}
.Header {
    position: relative;
        z-index: 1;      
}
.slider-adjustment{
    position: fixed;
     top: 0px;  
     left: 0;
     bottom: 0;
     right: 0;
     overflow: auto;
   background-color:cyan ;
}
.sidenav-overlay{
    display: none!important;
}